body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0);
}

header {
    background: linear-gradient(to bottom right,
            black 25%,
            rgb(141, 61, 44) 37%,
            rgb(121, 96, 38) 40%,
            rgb(141, 61, 44) 45%,
            black 50%) no-repeat;
}

h2,
h3 {
    margin: 0;
    padding: 0;
    color: white;
}

#nav-bar {
    display: flex;
    padding: 20px;
}

#menu {
    padding: 7px;
    margin-left: 5%;
}

a {
    text-decoration: none;
    padding-left: 100px;
    font-size: 18px;
    color: rgb(181, 179, 179);
}

.main-text {
    padding: 20px;
}

.acc,
.glb {
    font-weight: normal;
    font-size: 3rem;
}

.bcd,
.fac {
    font-weight: bolder;
    font-size: 5rem;
}

.glb {
    padding-left: 37%;
}

#green-data {
    color: rgb(13, 222, 13);
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
}

.btn-text {
    display: flex;
    padding: 20px;
}

.exp-btn {
    background: transparent;
    color: white;
    height: 85px;
    width: 250px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 3px rgb(223, 220, 220);
    border: transparent;
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
}

.side-text {
    height: 100px;
    width: 500px;
    font-size: x-small;
    color: gray;
    padding-left: 21%;
}

.spg {
    padding-left: 20px;
    display: flex;
}

.sb {
    color: white;
    font-size: 50px;
    font-weight: lighter;
}

.es {
    color: white;
    padding-left: 7.5%;
    font-size: 50px;
    font-weight: lighter;
}

.green-line {
    color: rgb(13, 222, 13);
    font-size: 50px;
    font-weight: lighter;
}

.g_es {
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
}

.grn-gol {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding-left: 600px;
}

.center-text {
    height: 100px;
    width: 800px;
    font-size: x-small;
    color: gray;
    padding-left: 15%;
}

.container {
    padding: 20px;
    display: flex;
}

.left_text {
    color: white;
}

.ring {
    height: 200px;
    width: 300px;
    padding-left: 100px;
}

.right_text {
    color: white;
    height: 100px;
    width: 300px;
    padding-left: 150px;
}

.d-txt {
    color: gray;
    font-size: x-small;
}

.r_more {
    color: rgb(13, 222, 13);
    padding-left: 0;
}

ul {
    color: gray;
}

ul ::marker {
    color: rgb(13, 222, 13);
}

.companies {
    display: flex;
    padding-left: 20px;
}

.c1,
.c2,
.c3,
.c4 {
    display: flex;
    padding-left: 250px;
}

.c1 {
    padding-left: 0;
}

.cmp1,
.cmp2,
.cmp3,
.cmp4 {
    height: 30px;
    width: 30px;
}

.cmp1-txt,
.cmp2-txt,
.cmp3-txt,
.cmp4-txt {
    color: white;
    padding-left: 15px;
    padding-top: 8px;
    margin: 0;
    font-weight: bold;
}

.wsb {
    margin-top: 20px;
    padding: 20px;
}

.wb {
    padding-left: 35%;
    font-size: 30px;
    font-weight: lighter;
}

.graph {
    padding-left: 30px;
}

.wbd-txt {
    color: gray;
    font-size: x-small;
    height: 100px;
    width: 340px;
    padding-left: 32%;
}

.upper {
    display: flex;
    padding: 20px;
}

.u-img {
    height: 300px;
    width: 450px;
    padding-left: 20%;
}

.u-txt {
    color: white;
    height: 300px;
    width: 140px;
    padding-left: 5%;
}

.n-txt {
    color: gray;
    font-size: x-small;
}

.n-lower {
    display: flex;
}

.lower {
    height: 500px;
    width: 320px;
    padding-left: 280px;
    padding-top: 80px;
}

.ssb {
    font-size: 30px;
    font-weight: lighter;
    color: white;
}

.dl-txt {
    color: gray;
    font-size: x-small;
}

.l-btn {
    height: 40px;
    width: 150px;
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
    border-radius: 10px;
}

.bas {
    background: rgb(13, 222, 13);
    border: transparent;
    color: black;
}

.lm {
    background: transparent;
    color: white;
    box-shadow: 0px 0px 3px rgb(223, 220, 220);
    border: transparent;
}

.l-img {
    height: 420px;
    width: 480px;
    padding-top: 80px;
    padding-left: 120px;
}